{
  "extends": "eslint-config-egg",
  "root": true,
  "rules": {
    "arrow-parens": "warn",
    "no-unused-vars": [
      "warn", // or "error"
      {
        "argsIgnorePattern": "^_",
        "varsIgnorePattern": "^_",
        "caughtErrorsIgnorePattern": "^_"
      }
    ]
  }
}